/* _-_-_- base/TYPOGRAPHY -_-_-_ */
@import url('https://fonts.googleapis.com/css?family=Oxygen:700');

* {
  font-family: $oxygen;
}

h1 {
  font-size: 7vw;
  color: $white;
}

h2 {
  font-size: 5vw;
  color: $white;
}

h3 {
  font-size: 4vw;
  color: $white;
}

p {
  font-size: $normal-text;
}